<div class="quote_MainQ">
  <a href="/quote">
    <div class="quote_Quote">
      <p>
        When you faith on the light that shines from inner your self desire, it is permanent that
        even just a bit of own self always knows that you will succeed!
      </p>
      <p>Click ME!(Write Comments)</p>

      <br />
      <q>Salar Muhammadi</q>
    </div>
  </a>
</div>
