<!-- Footer Main Footer -->
<div class="footer_MainFooter">
  <div class="foo_Copyright">
    <p>Copyright 2021 Blancks. All Rights Reserved</p>
    <p>Design By Salar Muhammadi</p>
  </div>
</div>
<!-- Footer Main Footer -->
