<!-- Header Main Header -->
<div class="header_MainHeader">
  <div class="mainHeader_Title">
    <h1>
      Welcome to
      <br />
      <strong>BLANCKS!</strong>
    </h1>
    <h2>
      I'm
      <span class="text-slider-items"
        >Salar Muhammadi.,Developer.,Ethical Hacker.,Administrator.,DevSecOps.,Perfectionist.</span
      ><strong class="text-slider"></strong>
    </h2>
  </div>
</div>
<!-- Header Main Header -->
