<!-- Basic -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Site Metas -->
<title>Blancks</title>
<meta name="keywords" content="Blancks, Web, Computer, Android, iOS" />
<meta name="description" content="Software Development" />
<meta name="author" content="Salar Muhammadi" />
