<div class="nav_MainNav">
  <header class="main_h">
    <div class="row">
      <a class="logo" href="/">Blancks</a>

      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="nav_Navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/feedback">Contact Us</a></li>
          <li><a href="/quote">Qoute</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
