<div class="quote_MainQuotes">
  <div class="quote_MainImg">
    <div class=" quote_ImgF">
      <img class="" src="/img/BarberMan.JPG" alt="BarberMan.JPG" />
    </div>
  </div>
  <div class="quote_QuoteQ">
    <div class="quote_Title"><h1>Leave some Quotes for Us</h1></div>
    <div class="qqqMain">
      <div class="qqqTextArea">
        <div class="qqqTAL">
          <p>
            Quote
          </p>
        </div>
        <div class="qqqTAI">
          <textarea
            name="quote"
            id="newQuote"
            class="qqqInput"
            placeholder="When you faith on the light that shines from inner your self desire, it is permanent that even just a bit of own self always knows that you will succeed!"
            rows="3"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
